In [1]:
import pandas as pd

In [2]:
data = pd.read_json('Data/metadata.json')

In [3]:
data

      total_rows  offset                                               rows
0           2736       0  {'id': '0946ab71f92ea0439de576ca08cc580f', 'ke...
1           2736       0  {'id': '0946ab71f92ea0439de576ca08cc65ec', 'ke...
2           2736       0  {'id': '0946ab71f92ea0439de576ca08cc67d3', 'ke...
3           2736       0  {'id': '0946ab71f92ea0439de576ca08cc6866', 'ke...
4           2736       0  {'id': '0946ab71f92ea0439de576ca08cc71c0', 'ke...
...          ...     ...                                                ...
2731        2736       0  {'id': 'f60828c77e4ad22dc8621a78873ba9c2', 'ke...
2732        2736       0  {'id': 'f60828c77e4ad22dc8621a78873bacef', 'ke...
2733        2736       0  {'id': 'f60828c77e4ad22dc8621a78873bb640', 'ke...
2734        2736       0  {'id': 'f60828c77e4ad22dc8621a78873bc2d8', 'ke...
2735        2736       0  {'id': 'f60828c77e4ad22dc8621a78873bddae', 'ke...

[2736 rows x 3 columns]