In [90]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.preprocessing import MinMaxScaler

from mlxtend.frequent_patterns import apriori, association_rules
pd.set_option('max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

In [91]:
abc = pd.read_csv('/home/maksonvinicio/Documents/GitHub/Data-Science-Projects/Maratona Behind the Code 2021/03_GFT/Data/InsuranceCompanyABC.csv')
cde = pd.read_csv('/home/maksonvinicio/Documents/GitHub/Data-Science-Projects/Maratona Behind the Code 2021/03_GFT/Data/InvestmentBankCDE.csv')
efg = pd.read_csv('/home/maksonvinicio/Documents/GitHub/Data-Science-Projects/Maratona Behind the Code 2021/03_GFT/Data/RetailBankEFG.csv')
answers = pd.read_csv('/home/maksonvinicio/Documents/GitHub/Data-Science-Projects/Maratona Behind the Code 2021/03_GFT/Data/ANSWERS.csv')

In [92]:
abc.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial
0,71504.00,42.99,4428.51,NE,1.00,T,T,T,T
1,59751.00,26.37,4489.93,CO,0.00,T,T,T,T

In [93]:
cde.head(2)

,ID,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto
0,71504.00,F,F,F,F,F,F,F
1,59751.00,F,F,F,F,F,F,F

In [94]:
efg.head(2)

,ID,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos
0,71504.00,T,T,T,T,T,F,F,T,F
1,59751.00,T,T,T,T,T,F,F,F,T

In [95]:
df1 = pd.merge(cde, efg, on='ID')
data = pd.merge(abc, df1, on='ID')
data.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos
0,71504.00,42.99,4428.51,NE,1.00,T,T,T,T,F,F,F,F,F,F,F,T,T,T,T,T,F,F,T,F
1,59751.00,26.37,4489.93,CO,0.00,T,T,T,T,F,F,F,F,F,F,F,T,T,T,T,T,F,F,F,T

In [96]:
answers.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos,RECOMMENDATION_1,CONFIDENCE_1,RECOMMENDATION_2,CONFIDENCE_2,RECOMMENDATION_3,CONFIDENCE_3
0,1004.00,40.69,8474.69,CO,1.00,F,F,F,F,F,T,F,F,F,T,F,F,F,F,F,F,T,F,T,F,NaN,NaN,NaN,NaN,NaN,NaN
1,1028.00,56.69,7996.35,SE,0.00,F,F,F,F,T,F,F,F,F,F,F,F,F,F,F,F,F,F,F,F,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# exploration = pd.DataFrame({
#     'column': data.columns, 'type': data.dtypes, 'NA #': data.isna().sum(), 'NA %': round((data.isna().sum() / data.shape[0]) * 100, 2)
# })
# exploration.sort_values('NA %', ascending=False)

In [98]:
onehot = lambda x: 1 if x == 'T' else 0

In [99]:
for cols in data.columns[5::]:
    data[cols] = data[cols].apply(onehot)

In [100]:
# Building the model
frq_items = apriori(data.iloc[:, 5::], min_support=0.1, use_colnames=True,)

frq_items
 
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="confidence", min_threshold=0.8)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
46,"(seguro auto, seguro vida PF, seguro vida Emp)",(Seguro Residencial),0.20,0.33,0.20,1.00,3.00,0.13,361.93
96,"(Investimento Fundos_cambiais, Investimento LC...",(Investimento Fundos_commodities),0.12,0.35,0.12,0.99,2.87,0.08,78.58
47,"(seguro auto, Seguro Residencial, seguro vida ...",(seguro vida PF),0.20,0.25,0.20,0.99,3.96,0.15,78.79
48,"(seguro vida PF, Seguro Residencial, seguro vi...",(seguro auto),0.20,0.28,0.20,0.99,3.54,0.14,56.47
99,"(Investimento Fundos_cambiais, Investimento Po...",(Investimento LCI),0.12,0.34,0.12,0.99,2.93,0.08,50.94
...,...,...,...,...,...,...,...,...,...
80,"(Investimento Fundos_cambiais, Investimento Fu...",(Investimento LCI),0.13,0.34,0.11,0.81,2.41,0.06,3.50
4,(Emprestimo _educacao),(Investimento Fundos),0.16,0.34,0.13,0.80,2.36,0.07,3.35
33,"(Investimento LCI, Investimento Fundos)",(Investimento CDB),0.16,0.49,0.13,0.80,1.62,0.05,2.57
39,"(Emprestimo _viagem, Investimento Fundos)",(Emprestimo _educacao),0.15,0.16,0.12,0.80,5.01,0.09,4.23
14,(seguro vida PF),"(seguro auto, Seguro Residencial)",0.25,0.21,0.20,0.80,3.80,0.15,3.95

In [101]:
rules['lenght'] = rules['antecedents'].apply(lambda x: len(x))

In [102]:
rules = rules[(rules['lenght'] > 1) & (rules['confidence'] >= 0.8)].reset_index(drop=True)

In [103]:
rules.to_csv('/home/maksonvinicio/Documents/GitHub/Data-Science-Projects/Maratona Behind the Code 2021/03_GFT/Data/rules.csv', index=False)

In [104]:
rules.head(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,lenght
0,"(seguro auto, seguro vida PF, seguro vida Emp)",(Seguro Residencial),0.20,0.33,0.20,1.00,3.00,0.13,361.93,3
1,"(Investimento Fundos_cambiais, Investimento LC...",(Investimento Fundos_commodities),0.12,0.35,0.12,0.99,2.87,0.08,78.58,4

In [105]:
answers.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos,RECOMMENDATION_1,CONFIDENCE_1,RECOMMENDATION_2,CONFIDENCE_2,RECOMMENDATION_3,CONFIDENCE_3
0,1004.00,40.69,8474.69,CO,1.00,F,F,F,F,F,T,F,F,F,T,F,F,F,F,F,F,T,F,T,F,NaN,NaN,NaN,NaN,NaN,NaN
1,1028.00,56.69,7996.35,SE,0.00,F,F,F,F,T,F,F,F,F,F,F,F,F,F,F,F,F,F,F,F,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
index = []
aux = []
services = []
for val in range(answers.shape[0]):
    # index.append(answers.index[val])
    for cols in answers.columns[5::]:
        if answers[cols][val] == 'T':
            aux.append(cols)
        else: continue
    services.append(aux)
    aux = []

answers['services'] = services

In [107]:
# answers['services'] = answers['services'].apply(lambda x: ", ".join(x))
# rules['antecedents'] = rules['antecedents'].apply(lambda x: ", ".join(x))
# answers['services'] = answers['services'].apply(lambda x: set(x))
# rules['antecedents'] = rules['antecedents'].apply(lambda x: list(x))

In [108]:
# consequents = []
# i = 0
# for j in range(answers.shape[0]):
#     if set(rules['antecedents'][i]) & set(answers['services'][j]):
#         consequents.append(rules['consequents'][i])
#     else :
#         consequents.append(None)
#     if i == rules.shape[0] - 1:
#         i = 0
#     i += 1

In [109]:
consequents1 = []
consequents2 = []
consequents3 = []
confidence1 = []
confidence2 = []
confidence3 = []
i = 0
for j in range(answers.shape[0]):
    if set(rules['antecedents'][i]) & set(answers['services'][j]):
        try:
            consequents1.append(list(rules['consequents'][i])[0])
            confidence1.append(rules['confidence'][i])
        except:
            consequents1.append(np.nan)
            confidence1.append(np.nan)
        try:
            consequents2.append(list(rules['consequents'][i])[1])
            confidence2.append(rules['confidence'][i])
        except:
            consequents2.append(np.nan)
            confidence2.append(np.nan)
        try:
            consequents3.append(list(rules['consequents'][i])[2])
            confidence3.append(rules['confidence'][i])
        except:
            consequents3.append(np.nan)
            confidence3.append(np.nan)
    else:
        consequents1.append(np.nan)
        consequents2.append(np.nan)
        consequents3.append(np.nan)
        confidence1.append(np.nan)
        confidence2.append(np.nan)
        confidence3.append(np.nan)
    if i == rules.shape[0] - 1:
        i = 0
    i += 1

In [110]:
len(consequents2), len(confidence2)

(13730, 13730)

In [111]:
answers['RECOMMENDATION_1'] = consequents1
answers['RECOMMENDATION_2'] = consequents2
answers['RECOMMENDATION_3'] = consequents3
answers['CONFIDENCE_1'] = confidence1
answers['CONFIDENCE_2'] = confidence2
answers['CONFIDENCE_3'] = confidence3

# Submission

In [114]:
answers = answers.drop(columns=['services'])
answers.to_csv('/home/maksonvinicio/Documents/GitHub/Data-Science-Projects/Maratona Behind the Code 2021/03_GFT/recommendation.csv', index=False)