In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.preprocessing import MinMaxScaler
pd.set_option('max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

In [3]:
abc = pd.read_csv('Data/InsuranceCompanyABC.csv')
cde = pd.read_csv('Data/InvestmentBankCDE.csv')
efg = pd.read_csv('Data/RetailBankEFG.csv')

In [7]:
abc.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial
0,71504.00,42.99,4428.51,NE,1.00,T,T,T,T
1,59751.00,26.37,4489.93,CO,0.00,T,T,T,T

In [8]:
cde.head(2)

,ID,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto
0,71504.00,F,F,F,F,F,F,F
1,59751.00,F,F,F,F,F,F,F

In [9]:
efg.head(2)

,ID,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos
0,71504.00,T,T,T,T,T,F,F,T,F
1,59751.00,T,T,T,T,T,F,F,F,T

In [13]:
# pd.merge([abc, cde, efg], on=='ID')