In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.preprocessing import MinMaxScaler

from mlxtend.frequent_patterns import apriori, association_rules
pd.set_option('max_columns', 100)
pd.options.display.float_format = '{:.2f}'.format

In [2]:
abc = pd.read_csv('Data/InsuranceCompanyABC.csv')
cde = pd.read_csv('Data/InvestmentBankCDE.csv')
efg = pd.read_csv('Data/RetailBankEFG.csv')
answers = pd.read_csv('Data/ANSWERS.csv')

In [3]:
abc.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial
0,71504.00,42.99,4428.51,NE,1.00,T,T,T,T
1,59751.00,26.37,4489.93,CO,0.00,T,T,T,T

In [4]:
cde.head(2)

,ID,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto
0,71504.00,F,F,F,F,F,F,F
1,59751.00,F,F,F,F,F,F,F

In [5]:
efg.head(2)

,ID,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos
0,71504.00,T,T,T,T,T,F,F,T,F
1,59751.00,T,T,T,T,T,F,F,F,T

In [6]:
df1 = pd.merge(cde, efg, on='ID')
data = pd.merge(abc, df1, on='ID')
data.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos
0,71504.00,42.99,4428.51,NE,1.00,T,T,T,T,F,F,F,F,F,F,F,T,T,T,T,T,F,F,T,F
1,59751.00,26.37,4489.93,CO,0.00,T,T,T,T,F,F,F,F,F,F,F,T,T,T,T,T,F,F,F,T

In [7]:
answers.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos,RECOMMENDATION_1,CONFIDENCE_1,RECOMMENDATION_2,CONFIDENCE_2,RECOMMENDATION_3,CONFIDENCE_3
0,1004.00,40.69,8474.69,CO,1.00,F,F,F,F,F,T,F,F,F,T,F,F,F,F,F,F,T,F,T,F,NaN,NaN,NaN,NaN,NaN,NaN
1,1028.00,56.69,7996.35,SE,0.00,F,F,F,F,T,F,F,F,F,F,F,F,F,F,F,F,F,F,F,F,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# exploration = pd.DataFrame({
#     'column': data.columns, 'type': data.dtypes, 'NA #': data.isna().sum(), 'NA %': round((data.isna().sum() / data.shape[0]) * 100, 2)
# })
# exploration.sort_values('NA %', ascending=False)

In [9]:
onehot = lambda x: 1 if x == 'T' else 0

In [10]:
for cols in data.columns[5::]:
    data[cols] = data[cols].apply(onehot)

In [11]:
# Building the model
frq_items = apriori(data.iloc[:, 5::], min_support=0.1, use_colnames=True,)

frq_items
 
# Collecting the inferred rules in a dataframe
rules = association_rules(frq_items, metric ="confidence", min_threshold=0.8)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
48,"(seguro vida Emp, seguro vida PF, seguro auto)",(Seguro Residencial),0.20,0.33,0.20,1.00,3.00,0.13,361.93
97,"(Investimento LCA, Investimento Poupanca, Inve...",(Investimento Fundos_commodities),0.12,0.35,0.12,0.99,2.87,0.08,78.58
46,"(Seguro Residencial, seguro vida Emp, seguro a...",(seguro vida PF),0.20,0.25,0.20,0.99,3.96,0.15,78.79
45,"(Seguro Residencial, seguro vida Emp, seguro v...",(seguro auto),0.20,0.28,0.20,0.99,3.54,0.14,56.47
100,"(Investimento LCA, Investimento Poupanca, Inve...",(Investimento LCI),0.12,0.34,0.12,0.99,2.93,0.08,50.94
...,...,...,...,...,...,...,...,...,...
81,"(Investimento Fundos, Investimento CDB, Invest...",(Investimento LCI),0.13,0.34,0.11,0.81,2.41,0.06,3.50
4,(Emprestimo _educacao),(Investimento Fundos),0.16,0.34,0.13,0.80,2.36,0.07,3.35
33,"(Investimento Fundos, Investimento LCI)",(Investimento CDB),0.16,0.49,0.13,0.80,1.62,0.05,2.57
39,"(Investimento Fundos, Emprestimo _viagem)",(Emprestimo _educacao),0.15,0.16,0.12,0.80,5.01,0.09,4.23
14,(seguro vida PF),"(Seguro Residencial, seguro auto)",0.25,0.21,0.20,0.80,3.80,0.15,3.95

In [12]:
rules['lenght'] = rules['antecedents'].apply(lambda x: len(x))

In [13]:
rules['lenght'].value_counts()

3    54
2    49
4     9
1     6
Name: lenght, dtype: int64

In [14]:
rules = rules[(rules['lenght'] > 1) & (rules['confidence'] >= 0.8)].reset_index(drop=True)

In [15]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,lenght
0,"(seguro vida Emp, seguro vida PF, seguro auto)",(Seguro Residencial),0.20,0.33,0.20,1.00,3.00,0.13,361.93,3
1,"(Investimento LCA, Investimento Poupanca, Inve...",(Investimento Fundos_commodities),0.12,0.35,0.12,0.99,2.87,0.08,78.58,4
2,"(Seguro Residencial, seguro vida Emp, seguro a...",(seguro vida PF),0.20,0.25,0.20,0.99,3.96,0.15,78.79,3
3,"(Seguro Residencial, seguro vida Emp, seguro v...",(seguro auto),0.20,0.28,0.20,0.99,3.54,0.14,56.47,3
4,"(Investimento LCA, Investimento Poupanca, Inve...",(Investimento LCI),0.12,0.34,0.12,0.99,2.93,0.08,50.94,4
...,...,...,...,...,...,...,...,...,...,...
107,"(Investimento LCA, Investimento Fundos_commodi...","(Investimento Fundos_cambiais, Investimento LCI)",0.16,0.20,0.13,0.81,4.01,0.10,4.25,2
108,"(Investimento CDB, seguro vida PF)",(seguro auto),0.12,0.28,0.10,0.81,2.91,0.07,3.83,2
109,"(Investimento Fundos, Investimento CDB, Invest...",(Investimento LCI),0.13,0.34,0.11,0.81,2.41,0.06,3.50,3
110,"(Investimento Fundos, Investimento LCI)",(Investimento CDB),0.16,0.49,0.13,0.80,1.62,0.05,2.57,2
111,"(Investimento Fundos, Emprestimo _viagem)",(Emprestimo _educacao),0.15,0.16,0.12,0.80,5.01,0.09,4.23,2

In [16]:
rules.groupby(['antecedents', 'consequents']).agg({'confidence': 'max'}).sort_values('confidence', ascending=False)

                                                                                                     confidence
antecedents                                        consequents
(seguro vida Emp, seguro vida PF, seguro auto)     (Seguro Residencial)                                    1.00
(Investimento LCA, Investimento Poupanca, Inves... (Investimento Fundos_commodities)                       0.99
(Seguro Residencial, seguro vida Emp, seguro auto) (seguro vida PF)                                        0.99
(Seguro Residencial, seguro vida Emp, seguro vi... (seguro auto)                                           0.99
(Investimento LCA, Investimento Poupanca, Inves... (Investimento LCI)                                      0.99
...                                                                                                         ...
(Investimento LCA, Investimento Fundos_commodit... (Investimento Fundos_cambiais, Investimento LCI)        0.81
(Investimento CDB, seguro vida PF)                 (seguro auto)                                           0.81
(Investimento Fundos, Investimento CDB, Investi... (Investimento LCI)                                      0.81
(Investimento Fundos, Investimento LCI)            (Investimento CDB)                                      0.80
(Investimento Fundos, Emprestimo _viagem)          (Emprestimo _educacao)                                  0.80

[112 rows x 1 columns]

In [29]:
for row1, row2 in zip(rules.itertuples(index=False), answers.itertuples(index=False)):
    print(row, row2)
    break

Pandas(antecedents=frozenset({'seguro vida Emp', 'seguro vida PF', 'seguro auto'}), consequents=frozenset({'Seguro Residencial'}), _2=0.19745083758193735, _3=0.33248361252731246, support=0.19708667152221412, confidence=0.9981556621172999, lift=3.002119877518188, leverage=0.13143750374642796, conviction=361.9273852876915, lenght=3) Pandas(ID=1004.0, Idade=40.685, Renda=8474.687, Regiao='CO', Genero=1.0, _5='F', _6='F', _7='F', _8='F', _9='F', _10='T', _11='F', _12='F', _13='F', _14='T', _15='F', _16='F', _17='F', _18='F', _19='F', _20='F', _21='T', _22='F', _23='T', _24='F', RECOMMENDATION_1=nan, CONFIDENCE_1=nan, RECOMMENDATION_2=nan, CONFIDENCE_2=nan, RECOMMENDATION_3=nan, CONFIDENCE_3=nan)

In [27]:
row.antecedents & row.consequents

frozenset()

In [17]:
set(services[0]) & set(rules['antecedents'][0])

NameError: name 'services' is not defined

In [ ]:
answers.head(2)

,ID,Idade,Renda,Regiao,Genero,seguro auto,seguro vida Emp,seguro vida PF,Seguro Residencial,Investimento Fundos_cambiais,Investimento Fundos_commodities,Investimento LCI,Investimento LCA,Investimento Poupanca,Investimento Fundos Multimercado,Investimento Tesouro Direto,Financiamento Casa,Financiamento Carro,Emprestimo _pessoal,Emprestimo _consignado,Emprestimo _limite_especial,Emprestimo _educacao,Emprestimo _viagem,Investimento CDB,Investimento Fundos,RECOMMENDATION_1,CONFIDENCE_1,RECOMMENDATION_2,CONFIDENCE_2,RECOMMENDATION_3,CONFIDENCE_3
0,1004.00,40.69,8474.69,CO,1.00,F,F,F,F,F,T,F,F,F,T,F,F,F,F,F,F,T,F,T,F,NaN,NaN,NaN,NaN,NaN,NaN
1,1028.00,56.69,7996.35,SE,0.00,F,F,F,F,T,F,F,F,F,F,F,F,F,F,F,F,F,F,F,F,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# index = []
# aux = []
# services = []
# for val in range(data.shape[0]):
#     index.append(answers.index[val])
#     for cols in data.columns[5::]:
#         if answers[cols][val] == 'T':
#             aux.append(cols)
#         else: continue
#     services.append(aux)
#     aux = []

In [36]:
for row1, row2 in zip(data.itertuples(index=False), services.itertuples(index=False)):
    print(row1)
    break

Pandas(ID=71504.0, Idade=42.993, Renda=4428.512, Regiao='NE', Genero=1.0, _5=1, _6=1, _7=1, _8=1, _9=0, _10=0, _11=0, _12=0, _13=0, _14=0, _15=0, _16=1, _17=1, _18=1, _19=1, _20=1, _21=0, _22=0, _23=1, _24=0)

In [ ]:
# set(services[0]) & set(rules['antecedents'][0])

set()

In [ ]:
# # recomendations = pd.DataFrame({'index': index, 'services': services})
# confidence = []
# conf = []
# index = []
# for serv in range(len(services)):
#     index.append(answers.index[serv])
#     for ant in range(rules.shape[0]):
#         if set(services[serv]) & set(rules['antecedents'][ant]):
#             conf.append(rules['confidence'][ant])
#         else: continue
#     confidence.append(conf)
#     conf = []

In [ ]:
len(confidence)

13730

In [ ]:
index

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]